@media only screen and (max-width: 479px){


h1, h2, h3, h4, h5, h6{ 
	margin: 0;
	font-weight: lighter;
	font-size: 1em;
	color: #F0F0F0;
}

body {
	z-index: 0;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: url('/static/blog/img/bj2.jpg') no-repeat fixed;
}
a {
	color: #F0F0F0;
	text-decoration: none; 
}

a:hover, a:focus {
	text-decoration: none; 
	color: white;
}

::selection {
	background-color: #eee;
}
p{
	font-family: 'Ubuntu', sans-serif;
	word-spacing: 1px;
	letter-spacing: 0.01em;
}
ul{
	list-style: none;
}

.container{
	position: relative;	
	z-index: 10;
	float: left;
	width: 80%;
	height: 40px;
	padding: 0;
	margin: 0 0 20px 0;
}
#site-header {
	width: 100%;
	height: 40px;
	color: white;
	padding: 0;
	margin: 20px 0 0 0;
}
.logo{
	float: left;
	width: 80%;
	margin: 0;
	padding:0;
}
#logo{
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 0 1em; 
	padding: 0;
	font-size: 1.5em;
}
#butn{
	position: relative;
	float: right;
	width: 20%;
	margin: 1.5em 0 0 0;
	padding: 0;
	text-align: center;

}
#daohang_1{
	position: absolute;
	z-index: 1000;
	width: 40%;
	height: 50%;
	padding: 0;
	margin: 3.5em 0 0 60%;
	background: rgba(130, 200, 250,0.95);
}
#daohang_1 ul{
	overflow: hidden;
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
#daohang_1 li{
	float: right;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;	
}
.navbar-right{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;	
}
.cl-effect-11 a{
	float: right;
	width: 100%;	
	height: 40px;
	line-height: 40px;
}
.cl-effect-11 a:hover{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: rgba(255, 255, 255,0.25);
}


/**content-body**/
.content-body{
	z-index: 10;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.row{
	width: 100%;
	padding: 0;
	margin: 0;
}
.col-md-8{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0
}



.post-1{
	float: left;
	width: 96%;
	margin:20px 2% 0 2%;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}
.entry-title {
	text-align: center;
	font-size: 1em;
	margin-bottom: 10px;
	line-height: 1.5;
	padding: 10px 20px 0;
	color: #FCFCFC;
	font-weight: lighter;
}
.entry-meta{
	text-align: center;
	font-size: 0.75em;
	font-weight: lighter;
	margin-bottom: 10px;
}
.post-author{
	color: #FFB3FF;
}
.post-date{
	color: #66CCFF;
}
.entry-content {
	width: 96%;
	margin: 0  2%  0  2%;
	font-size: 0.8em;
	font-weight: lighter;
	color: 	#F5F5F5;
	text-indent: 2em;
	line-height: 1.5;
}
.post-category,
.post-date,
.post-author,
.comments-link,	
.views-count{

	padding-right: 15px;
}
.read-more {
	font-size: 0.9em;
	margin-bottom: 10px;
}



.comment-list{
	list-style: none;
	width: 92%;
	margin: 10px  4%  0  4%;
	font-size: 12px;
	font-weight: lighter;
	line-height: 1.5;
	color: 	#F8F8FF;
	text-indent: 2em;
}
.list-unstyled{
	width: 100%;
	margin: 10px auto 0 0;
	padding: 0;
	text-indent: 2em;
}
.comment-item{
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;
}
.name{
	color: #FFB3FF ;
}
.date{
	color: #66CCFF;
}
.text{
	margin: 10px;
	padding: 0;
}
.line-1{
	width: 100%;
	height: 1px;
	margin: 5px 0 5px 0;
	border: none;
	overflow: hidden;
	background-color: #CCCCCC;
}

.comment-form{
	float: left;
	width: 90%;
	margin: 10px  5%  0  5%;
	padding: 0;
}
.row_comment{
	float: left;
	width: 96%;
	margin: 10px 2% 0 2%;
	padding: 0;
}
.col-md-5{
	float: left;
	width: 100%;
	height: 35px;
	margin: 20px 0 0 0;
	padding: 0;
	color: #909090;
	background: none;
}
#id_name,
#id_email{
	float: left;
	width: 80%;
	height: 30px;
	margin: 0;
	padding: 0;
	background:none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-width: 0.5px;
	border-bottom-style: solid;
	border-bottom-color:white;
	font-family:Arial, Helvetica, sans-serif;
	color:#909090;
	box-shadow: 0 0 0 0;
}
#id_text{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background:none;
	border-width: 1px;
	border-style: solid;
	border-color:white;
	font-family:Arial, Helvetica, sans-serif;
	color:#909090;
	box-shadow: 0 0 0 0;
	resize: none;
	overflow-y: visible;
}
.button{
	float: left;
	width: 100%;
	margin: 140px 0 20px 0;
}
.button button{
	width: 25%;	
	height: 30px;
	margin: 0 50% 0 0;
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.25);
	color:#CCCCCC;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	float:left;
	box-shadow: 0 0 0 0;
}
.errorlist{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
	color: 	#F0F0F0;
}




.site-footer{
	float: left;
	width: 100%;
	margin: 0;
	padding-top: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: lighter;	
	color: white;
}

}