{% extends 'base.html' %}

{% block main %}

<article class="post-1">
	<header class="entry-header">
		<h1 class="entry-title">{{ post.title }}</h1>
		<div class="entry-meta">
			<span class="post-category"><a class="list-group-item" href="#"><i class="fa fa-tag"></i> {{ post.category.name }}</a></span>
			<span class="post-date"><i class="fa fa-clock-o"></i><time class="entry-date" datetime="2012-11-09T23:15:57+00:00"> {{ post.created_time }}</time></span>
			<span class="post-author"><i class="fa fa-user"></i> {{ post.author }}</span>
			<span class="comments-link"><a href="#"><i class="fa fa-commenting"></i> 0</a></span>
		</div>
	</header>
	<div class="entry-content clearfix">
		{{ post.body|safe }}
	</div>


	<div class="comment-list">
		<h2>评论列表</h2>
		<ul class="list-unstyled">
		{% for comment in comment_list %}
			<hr class="line-1"></hr>
			<li class="comment-item">
				<span class="name">{{ comment.name }}</span>
				<time class="date">{{ comment.created_time }}</time>
				<div class="text">
					{{ comment.text }}
				</div>
			</li>
			{% empty %}
			暂无评论
		{% endfor %}
		</ul>
	</div>


	<form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
		{% csrf_token %}
		<div class="row_comment">
			<div class="col-md-5">
				{{ form.name }}
				{{ form.name.errors }}
			</div>
			<div class="col-md-5">
				{{ form.email }}
				{{ form.name.errors }}
			</div>
			<!--
			<div class="col-md-4">
				<label for="{{ form.url.id_for_label }}">Url:</label>
				{{ form.url }}
				{{ form.url.errors }}
			</div>
			-->
			<div class="col-md-5" contenteditable="true">
				{{ form.text }}
				{{ form.text.errors }}
			</div>
			<div class="button">
				<button type="submit"><span>发表评论</span></button>
			</div>
		</div>    <!-- row -->
	</form>
</article>
{% endblock main %}